.home{
    background-image: url(background.jpeg);
    height: 500px;
    position: relative;
    background-size: cover;
}
.padding{
    padding-top: 50px;
    padding-left: 10px;
}
.padding1{
    padding-top: 25px;
    padding-bottom: 25px;
}
.title{
    font-size: xx-large;
    color: black;
    float: left;
}
.menu{
    float: right;
    text-align: center;
}
footer{
    
}